body{
    background-color: white;
}
h1{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    border: 2px solid rgb(45, 45, 45);
    padding: 30px solid rgb(80, 161, 188);
}
p{
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
    border: 2px solid black;
    padding: 30px;
}
a:link, a:visited{

    background-color: blue;
    color: orange;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }
 a:hover, a:active{
    background-color: white;
 }