#CostText1{
    display: inline;
}
#CostText2{
    display: inline;
}
#CostText3{
    display: inline;
}
#upgradeCostText{
    display: inline;
}
#pauseCostText{
    display: inline;
}
#upgradeClickButton{
    display: inline;
}
#upgradeClickCostText{
    display: inline;
}